*{
    margin-left: 0;
    padding-left: 0;
}

@font-face {
    font-family: 'bebas-neue';
    src: url("./fonts/bebas-neue/BebasNeue.otf") format("opentype");
}

@font-face {
    font-family: 'Existence-Light';
    src: url("./fonts/Existence-Light/Existence-Light.otf") format("opentype");
}

 body{
    /*background-color: #ccddcf;*/
    background-color: #fff;
    color: #777;
    font-family: 'Existence-Light', serif;
    /* background-image: url('../img/texture3.png');
     background-repeat: repeat-x;
     background-attachment:fixed;*/
}
#main-banner{
    background-image: url('../img/Art-Studio.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    padding: 0;
    margin-left: 0px;
    color: #f5f5f5;

}

#main-menu{
    min-height: 100px;;
}

a.underline{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a.menu-item:hover
{
    background-color:#aaaaaa;
    color:#557799;
}

a.menu-item.selected
{
    background-color:#557799;
    color: #aaaaaa;
}

.contrast-color{
    color: #557799;
}

.contrast-background{
    background-color: #557799;
}

.bright-color{
    color: #f5f5f5;
}

.dark-color{
    color: #888888;
}

#top-logo{
    margin-top: 0px;;
    margin-left: 0px;;
}

.findout-more-link{
    color: #fff;
    background-color: #557799;
    padding-left: 1em;;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}

#features{
    background-color: #212121;
    padding: 0;
    margin: 0;
}

p{
    color: #333333;
}

/* added later*/

 h1, h2, h3,a{
     font-family: 'Existence-Light', 'Roboto Slab', serif;
     color: #557799;
 }

 body{
     font-family: 'Existence-Light', 'Arial', cursive;
 }

 .menu-item{
     font-size: 1.5em;
 }

 .panel-color{
     background-color: #aaaaaa;
 }

 #p.promos-link{
     padding-left: 1em;;
     padding-right: 4em;
     padding-top: .5em;
     padding-bottom: .5em;
     font-family: 'Nova Square', cursive;
     float: right;
 }

 #promos-font{
     color: #000;
     font-family: 'bebas-neue', 'Nova Square, cursive';
 }

 #social-media{
     background-color: #ffffff;
     padding-top: 5px;
     padding-bottom: 5px;;
 }

 .details-header{
     background-color: #fff;
 }

 .event-date{
     color: #eee;
 }

 @media only screen and (max-width:480px) {

     #main-banner{
         min-height: 200px;;
     }
 }

 #site-container{
     background-color: #ffffff;
     padding-left: 20px;
     padding-right: 20px;
 }