
 body{
    /*background-color: #ccddcf;*/
    background-color: #111111;
    color: #000000;
    font-family: 'Nova Square', cursive;
     background-image: url('../img/texture3.png');
     background-repeat: repeat-x;
     background-attachment:fixed;
}
#main-banner{
    background-image: url('../img/diggable_geek2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px;;

}

#main-menu{
    min-height: 100px;;
}

a.underline{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a.menu-item:hover
{
    background-color:#552222;
    color:#ffffff;
}

a.menu-item.selected
{
    background-color:#000000;
    color: #552222;
}

.contrast-color{
    color: #552222;
}

.contrast-background{
    background-color: #552222;
}

.bright-color{
    color: #aaaaaa;
}

#top-logo{
    margin-top: 0px;;
    margin-left: 0px;;
}

.findout-more-link{
    color: #fff;
    background-color: #552222;
    padding-left: 1em;;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}

#features{
    background-color: #212121;
}

p{
    color: #333333;
}

/* added later*/

 h1, h2, h3,a{
     font-family: 'Roboto Slab', serif;
     color: #552222;
 }

 body{
     font-family: 'Arial', cursive;
 }

 .menu-item{
     font-size: 1.5em;
 }

 .panel-color{
     background-color: #aaaaaa;
 }

 #p.promos-link{
     padding-left: 1em;;
     padding-right: 4em;
     padding-top: .5em;
     padding-bottom: .5em;
     font-family: 'Nova Square', cursive;
     float: right;
 }

 #promos-font{
     color: #000;
     font-family: 'Nova Square, cursive';
 }

 #social-media{
     background-color: #999;
     padding-top: 5px;
     padding-bottom: 5px;;
 }

 .details-header{
     background-color: #fff;
 }

 .event-date{
     color: #eee;
 }

 @media only screen and (max-width:480px) {

     #main-banner{
         min-height: 200px;;
     }
 }

 #site-container{
     background-color: #ffffff;
     padding-left: 20px;
     padding-right: 20px;
 }